.env файл должен выглядеть так (кавычки не нужны, все пишется сплошняком)

DB_HOST="Адрес"
DB_NAME="Название БД"
DB_USER="Имя пользователя, под котором заходят в БД"
DB_PASS="Если пароля нет, просто пустое значение без пробелов и т.п."
JWT_KEY="Ключ для JWT Токена"
ENCRYPTION_KEY="Ключа для Шифрования ID картинок"