<footer class="bg-body-tertiary text-start">
    <div class="p-3 d-flex justify-content-start align-items-center" style="background-color: rgba(0, 0, 0, 0.05);">
        <div class="container">
            <img src="path/to/avatar.png" alt="Site Avatar" width="30" height="30" class="d-inline-block align-text-top me-2">
            <span class="mx-2">SVG</span>
            <div class="vr"></div>
            <span class="ms-2">© 2024 "SparkleView" Gallery — Fullstack SkelFin</span>
        </div>
    </div>
  </footer>
  