<footer class="footer user-select-none">
    <div class="container px-3 pb-4 pt-3 d-flex justify-content-between align-items-center border-top border-dark">
      <div class="d-flex align-items-center text-gray fw-semibold">
        <img src="assets/logo.ico" alt="Site Avatar" width="45" height="35" class="d-inline-block align-text-top me-2">
        <span class="mx-2">SVG</span>
        <div class="vr mx-2"></div>
        <span>© 2024 "SparkleView" Gallery — Fullstack SkelFin</span>
      </div>
    </div>
  </footer>
  