<div class="container user-select-none">
  <div class="d-flex justify-content-between align-items-center my-3">
    <h1 class="text-white">Июль, 2022</h1>
    <button class="btn btn-primary-violet btn-lg px-4 py-3">Добавить фото</button>
  </div>
  <div class="row justify-content-start cursor-pointer">
    @for (photo of photos; track photo.id) {
      <div class="col-6 col-md-4 col-lg-3 mb-4 px-0">
        <div class="card text-bg-dark h-100 rounded-5">
          <div class="card-img-container position-relative rounded-5" style="background-color: rgba(0, 0, 0, 0);">
            <img [src]="'assets/' + photo.url" class="card-img img-fluid" alt="{{ photo.title }}">
            <div class="card-img-overlay d-flex flex-column justify-content-end overlay">
              <h5 class="card-title fs-6-5 text-truncate">{{ photo.title }}</h5>
              <p class="card-text fs-7">{{ photo.description }}</p>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
  <div class="d-flex justify-content-center my-3">
    <button class="btn btn-outline-violet btn-lg px-4 py-3 w-100">Показать еще</button>
  </div>
</div>