<div class="container my-5">
    <div class="row">
      <div class="col-md-5 col-lg-4 col-xl-3 col-xxl-3">
        <div
          class="upload-box d-flex flex-column justify-content-center align-items-center mb-3"
          [class.image-present]="imageSrc"
          [class.cursor-pointer]="!imageSrc"
          [class.dragging-over]="isDraggingOver"
          (drop)="onDrop($event)"
          (dragover)="onDragOver($event)"
          (dragleave)="onDragLeave($event)"
          (click)="onBoxClick()"
        >
          <input type="file" (change)="onFileSelected($event)" accept=".jpg" hidden #fileInput>
          @if (!imageSrc) {
            <div class="text-center">
              <fa-icon [icon]="faPlus" class="fa-2x color-violet mb-3"></fa-icon>
              <p class="text-white">{{ isDraggingOver ? 'Перетащите сюда' : 'Загрузите фотографию' }}</p>
              <p class="text-secondary m-0 small">(допустимый формат - jpg</p>
              <p class="text-secondary small">максимальный размер - 3 МБ)</p>
            </div>
          }
          @if (imageSrc) {
            <div class="position-relative w-100 h-100">
              <img [src]="imageSrc" class="img-fluid rounded">
              <button class="btn btn-danger position-absolute top-0 end-0 m-2" (click)="removeImage($event)">
                <fa-icon [icon]="faTrashCan" class="color-violet"></fa-icon>
              </button>
            </div>
          }
        </div>
      </div>
      <div class="col-md-7 col-lg-8 col-xl-9 col-xxl-9">
        <form [formGroup]="photoForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <input type="text" formControlName="name" class="form-control input-title fw-bold border-0" id="name_photo" placeholder="Описание">
            @if (photoForm.controls['name'].invalid && (photoForm.controls['name'].dirty || photoForm.controls['name'].touched)) {
              @if (photoForm.controls['name'].hasError('leadingSpace')) {
                <div class="text-danger">
                  Первым символом не должен быть пробел
                </div>
              }
            }
          </div>
          <div class="row">
            <div class="col-lg-auto mb-3 mb-lg-0">
              <button [disabled]="!photoForm.valid || isSubmitting" type="submit" class="btn btn-primary-violet btn-lg w-100 w-lg-auto px-4 py-3 fw-semibold d-flex align-items-center justify-content-center">
                <div class="spinner-container" [class.show]="isSubmitting">
                  <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                </div>
                Опубликовать фотографию
              </button>
            </div>
            <div class="col-lg d-flex align-items-center">
              <div class="text-secondary mt-2">
                <p>
                  <fa-icon [icon]="faCircleExclamation" class="fa-solid me-1" style="color: #9747FF"></fa-icon>
                  Все поля обязательны для заполнения
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  