@if (photo) {
  <div class="container p-0">
    <div class="row align-items-stretch">
      <div class="col-12 col-md-6 col-lg-4 col-xl-4 mb-4">
        <div class="rating-box text-center rounded-5 h-100 d-flex flex-column justify-content-center">
          <div class="d-flex d-xs-row d-lg-none flex-column flex-sm-row align-items-center justify-content-center">
            <h2 class="rating-value my-3 me-sm-3">{{ photo.Rating }}</h2>
            <div class="text-start text-sm-start">
              <h3 class="mb-1">Рейтинг</h3>
              <span class="rating-count fw-semibold">{{ photo.Number_of_ratings | ratingCount }}</span>
            </div>
          </div>
          <div class="d-none d-lg-block">
            <div class="row">
              <div class="col-12">
                <h3 class="m-0">Рейтинг</h3>
              </div>
              <div class="col-12">
                <h2 class="rating-value my-3">{{ photo.Rating }}</h2>
              </div>
              <div class="col-12">
                <span class="rating-count fw-semibold">{{ photo.Number_of_ratings | ratingCount }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div [ngClass]="{'col-12 col-md-6 col-lg-8 col-xl-8 mb-4': true, 'custom-h-132px': ratingSubmitted}">
        <div [ngClass]="{'grade-box text-center p-3 rounded-5': true, 'h-100': !isAuthor}">
          <h4 class="grade-label my-1 mx-2">{{ isAuthor ? 'Нельзя оценить свое фото' : (ratingSubmitted ? 'Вы оценили фотографию' : 'Оцените фотографию') }}</h4>
            @if (!isAuthor) {
              <div class="d-flex justify-content-center">
                @for (star of stars; track i; let i = $index) {
                  <fa-icon [icon]="faStar"
                    [attr.data-bs-toggle]="!isAuthenticated ? 'modal' : null" 
                    [attr.data-bs-target]="!isAuthenticated ? '#registrationModal' : null" 
                    (click)="!isAuthenticated ? regAuthModal.showLogin() : rate(i)"
                    class="fa-solid star"
                    [class.active]="star"
                    (mouseover)="hover(i)"
                    (mouseleave)="leave()">
                  </fa-icon>
                }
              </div>
              @if (!ratingSubmitted) {
                <button class="btn btn-primary-violet btn-lg px-4 py-3 mt-4 fw-semibold"
                [attr.data-bs-toggle]="!isAuthenticated ? 'modal' : null" 
                [attr.data-bs-target]="!isAuthenticated ? '#registrationModal' : null" 
                (click)="!isAuthenticated ? regAuthModal.showLogin() : submitRating()">
                <div class="spinner-container" [class.show]="isRatingSubmitting">
                  <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                </div>
                Оценить
              </button>
              }
            }
        </div>
      </div>
    </div>
  </div>
    
}


<app-reg-modal #regAuthModal></app-reg-modal>