.rating-box, .grade-box {
  background-color: #180F35;
  color: #ffffff;
  padding: 20px 0 25px !important;
}

.rating-value {
  font-size: 72px;
  color: #9747FF;
}

.star {
  font-size: 33px;
  color: #bbb;
  padding: 0 5px;
  cursor: pointer;
}

.star.active {
  color: #8a2be2;
}

.custom-h-132px {
  max-height: 132px !important;
}

.spinner-container {
  display: inline-flex;
  align-items: center;
  opacity: 0;
  width: 0;
  transform: scale(0);
  transition: opacity 0.1s ease-in-out, width 0.3s ease-in-out, transform 0.4s ease-in-out;
}

.spinner-container.show {
  opacity: 1;
  width: 25px;
  transform: scale(1);
}

@media (max-width: 575.98px) {
  .d-xs-row {
    display: flex !important;
    flex-direction: row !important;
  }
  .rating-value {
    margin-right: 1rem !important;
  }
  .grade-label {
    font-size: 1.20rem; // Размер шрифта как у h5
  }
}

@media (min-width: 992px) {
  .equal-height {
    display: flex;
    align-items: stretch;
  }
  .equal-height > div {
    flex: 1;
  }
}