<div class="container p-0">
  <div class="row align-items-stretch">
    <div class="col-12 col-md-6 col-lg-4 col-xl-4 mb-4">
      <div class="rating-box text-center rounded-5 h-100 d-flex flex-column justify-content-center">
        <div class="d-flex d-xs-row d-lg-none flex-column flex-sm-row align-items-center justify-content-center">
          <h2 class="rating-value my-3 me-sm-3">4.8</h2>
          <div class="text-start text-sm-start">
            <h3 class="mb-1">Рейтинг</h3>
            <span class="rating-count fw-semibold">138 оценок</span>
          </div>
        </div>
        <div class="d-none d-lg-block">
          <div class="row">
            <div class="col-12">
              <h3 class="m-0">Рейтинг</h3>
            </div>
            <div class="col-12">
              <h2 class="rating-value my-3">4.8</h2>
            </div>
            <div class="col-12">
              <span class="rating-count fw-semibold">138 оценок</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-8 col-xl-8 mb-4">
      <div class="grade-box text-center p-3 rounded-5 h-100">
        <h3 class="grade-label mb-1">Оцените фотографию</h3>
        <div class="d-flex justify-content-center mb-4">
          <fa-icon [icon]="faStar" class="fa-solid star"></fa-icon>
          <fa-icon [icon]="faStar" class="fa-solid star"></fa-icon>
          <fa-icon [icon]="faStar" class="fa-solid star"></fa-icon>
          <fa-icon [icon]="faStar" class="fa-solid star"></fa-icon>
          <fa-icon [icon]="faStar" class="fa-solid star"></fa-icon>
        </div>
        <button class="btn btn-primary-violet btn-lg px-4 py-3 fw-semibold">Оценить</button>
      </div>
    </div>
  </div>
</div>